.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid #a09696;
  background-color: #000000;
  width: 500px;
  height: 800px;
  flex-shrink: 0;
}

.main-image {
  width: 50%;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.output {
  width: 350px;
  min-height: 10vh;
  padding: 15px;
  color: #ffffff;
  font-family: 'VT323', monospace, sans-serif;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #a09696;
  border-radius: 10px;
}

.custom-inputs {
  background-color: #000000;
  color: white;
  width: 250px;
  padding: 10px;
  border: 2px solid #a09696;
  border-radius: 10px;
  font-size: 18px;
}